* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
}

img {
    width: 100%;
}

#main_section_first_img {
    background-image: url(/img/candy1.jpeg);
    background-position: center;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: end;
    padding: 20px;
    height: 320px;
    background-size: cover;
}

#main_section_second_img {
    background-image: url(/img/candy2.jpg);
    background-position: center;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: end;
    padding: 20px;
    height: 320px;
    background-size: cover;
}

#main_section_third_img {
    background-image: url(/img/candy3.jpeg);
    background-position: center;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: end;
    padding: 20px;
    height: 320px;
    background-size: cover;
}

#main_section_fourth_img {
    background-image: url(/img/candy4.jpeg);
    display: grid;
    background-position: center;
    grid-auto-flow: row;
    justify-content: start;
    align-items: end;
    padding: 20px;
    height: 320px;
    background-size: cover;
}

#main_section_fifht_img {
    background-image: url(/img/candy5.jpeg);
    background-position: center;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: end;
    padding: 20px;
    height: 320px;
    background-size: cover;
}

#main_section_sixth_img {
    background-image: url(/img/candy6.jpeg);
    background-position: center;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    align-items: end;
    padding: 20px;
    height: 320px;
    background-size: cover;
}

.main_h2 {
    margin-bottom: 20px;
    color: whitesmoke;
}

.header_a {
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 200%;
    text-decoration: none;
}